{{#collection tag="div"}}
  <ul class="person">
    <li class="name">
    {{#link "details/{{id}}" expand-tokens=true}}
      {{firstName}} {{lastName}}
    {{/link}}
    </li>
    <li>{{number}} </li>
    <li>{{#button "handleDelete"}}Delete{{/button}}</li>
  </ul>
{{/collection}}

{{view personForm}}





{{! COMMENT
    $(document.body).live('[data-click-handler]').click(function() {
      Backbone.history.navigate
    });
}}
